*{
	margin:5px;
	padding:1px;
	box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

.flex-container{
	background-color: #c0d1ae;
	display:flex;
}

#banner div a{
  color:#40534C;
  padding:10px;
  flex:1;
  text-decoration:none;
  text-align:center;
  
}

.centered{
	background-color: #AAB99A;
	text-align: center;
	font-weight:bold;
  padding: 20px;
}
.centered h1{
  color:#1A3636;
  font-size: 50px;
}

.centered h2{
  color:#1A3636;
  font-size: 25px;
}

body {
  background-color: #F0F0D7;
  color: #AAB99A;
}

.dark-mode {
  background-color: #727D73;
  color: #D0DDD0;
}